<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                ✺ Patrick McAlinden
              </h1>
              <p class="text-m font-light text-neutral-500">
                Data Analyst in New Jersey
              </p>
              <p>
                <a
                  class="text-s underline hover:no-underline duration-200 dark:text-white"
                  href="#">patrickmcalinden.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-m font-light">
          <p class="text-lg text-black dark:text-white">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              Armed with a finance degree and a passion for data, 
              I thrive on bringing clarity to complex problems 
              through data analytics.
            </p>
            <p>
              Every day presents an opportunity to leverage my skills in Python, SQL, 
              and Tableau to transform raw data into strategic insights.
            </p>
            <p>
              My analytical acumen shines in a broad array of contexts, where I 
              consistently deliver data-driven solutions with precision and creativity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
